@{
    ViewBag.Title = "Gitlab timetable";
}

<div class=" col-md-9">
    <div class="panel panel-default filter-panel">
        <div class="panel-heading">Фильтр</div>
        <div class="panel-body">
            <select id="employee" class="filter filter-employee form-control"></select>
            <select id="project" class="filter filter-project form-control"></select>
        </div>
    </div>
</div>
<div class=" col-md-3">
    <div class="legend panel panel-default">
        <div class="panel-heading">Легенда</div>
        <div class="panel-body">
            <table>
                <tr>
                    <td class=" day day-deadline"></td>
                    <td>Дедлайн</td>
                </tr>
                <tr>
                    <td class="day day-created"></td>
                    <td>Дата создания задачи</td>
                </tr>
                <tr>
                    <td class="day day-overdue"></td>
                    <td>День - задача просрочена</td>
                </tr>
                <tr>
                    <td class="day day-not-overdue"></td>
                    <td>День - задача не просрочена</td>
                </tr>
                <tr>
                    <td class="day day-closed"></td>
                    <td>Закрытие задачи</td>
                </tr>
            </table>
        </div>
    </div>
</div>
<div id="updatable">
    @Html.Action("GetTimetableContent")
</div>


@section Scripts {
    <script src="~/Scripts/gitlab-visualizer.js"></script>

    <script>



        $(document).ready(function () {

            fillUsersDdl();
            fillProjectsDdl();
            //addDateDivs();

            //$.get(gitlab_api + "/users?private_token=" + private_token, function (data) {
            //    users = data;
            //    $.each(users, function (index, user) {
            //        var userRowDiv = $("#issuesBody").append(buildDiv("userRow_"+user.id,"row horizontal-bordered"));
            //        var userNameDiv = $("#userRow_"+user.id).append(buildDiv("userName_"+user.id,"col-md-2 right-bordered employeeNames",user.name));
            //        var userIssuesDiv = $("#userRow_"+user.id).append(buildDiv("user_"+user.id+"_issues","col-md-10 "));
            //    });
            //    $.get(gitlab_api + "/projects?private_token=" + private_token, function (data) {
            //        projects = data;
            //        $.each(projects, function (index, project) {
            //            getIssues(project)
            //        });
            //    });
            //})
        });



    </script>
}
